// Colors
$color-react: #53b4ce;
$color-sketch: #d09405;

// Font
$defult-font-size: 1.6rem;

// Grid
$grid-width: 143rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 0rem;
$gutter-horizontal: 0rem;

// Header
$bg-bottom: 30rem;