.menubtn {
	width: 2em;
    height: 2em;
}

.title {
    font-size: 4em;
}

.subtitle {
	font-size: 1.6em;
}

.aboutTitle {
    font-size: 4em;
}

.aboutDescription {
	font-size: 1.2em;
}

.subhead {
    margin-top: 1em;
	font-size: 4em;
}

.moreBtn {
	margin-top: 1em;
}