.coverTitle {
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 0;
}

.coverDescription {
    font-size: 1em;
    margin-top: 1em;
}

.xbtn {
	width: 20px;
}

h1 {
    font-size: 4em;
}

h5 {
    font-size: 1.5em;
}

.boxOverlay {
	display: none;
}