.coverTitle {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.coverDescription {
    font-size: 1em;
    margin-top: 0;
}

.xbtn {
	width: 20px;
}

h1 {
    font-size: 4em;
}

h5 {
    font-size: 1.5em;
}

.boxOverlay {
	display: none;
}

#makehacks {
	background-image: url("img/makehacks.png") !important;
}

#quest {
	background-image: url(img/questIcon.png);
}